<%- include('partials/header') %>

<h1><%= product.name %></h1>
<div><%= product.description %></div>

<button onclick="deleteProduct('<%= product.name %>')">Usuń</button>

<script>
  function deleteProduct(name) {
    fetch(`/products/${name}`, {
      method: 'DELETE'
    }).then(() => {
      window.location.href = '/products';
    });
  }
</script>

<%- include('partials/footer') %>
